/* Colors */
/* Mixins */
/* Margin Mixin */
/* Margin Mixin */
.color-key-1 {
  color: #2F7AC9; }

/* Fotns */
/* Global */
html, body, .wrapper, .login-wrapper, #root {
  height: 100%; }

body {
  font-family: "Varela Round", sans-serif;
  background: #EDEDED; }

input {
  font-family: "Varela Round", sans-serif; }

a {
  color: #2F7AC9;
  font-size: 14px; }

.wrapper {
  display: flex;
  -webkit-display: flex;
  align-items: flex-start;
  width: 1366px;
  max-width: 100%;
  margin:auto;
}

.wrapper-full {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.error {
  color: red;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  width: 100%;
  text-align: center; }

/* Global */
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Varela Round", sans-serif;
  color: #2F7AC9; }

h1 {
  font-size: 30px; }

.pt-0 {
  padding-top: 0px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

[type="checkbox"].filled-in.round + span:not(.lever):after {
  border-radius: 50%; }

/* button */
.btn {
  border-radius: 50px;
  min-width: 300px;
  min-height: 50px;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #B3FDFF;
  color: #2F7AC9;
  box-shadow: none;
  text-transform: capitalize;
  font-family: "Varela Round", sans-serif;
  max-width: 100%; }
  .btn ul:not(.browser-default) {
    padding-left: 30px;
    list-style-type: decimal; }
  .btn:hover, .btn.active, .btn:focus {
    background-color: #B3FDFF;
    color: #2F7AC9; }
  .btn.disabled, .btn:disabled {
    background-color: #797979 !important;
    color: #ffffff !important; }

.btn-small {
  min-width: 0; }

.btn-transparent {
  background: transparent; }
  .btn-transparent:hover, .btn-transparent.active, .btn-transparent:focus {
    background-color: #B3FDFF;
    color: #2F7AC9; }

.btn-transparent-sm {
  background: transparent;
  min-height: 30px; }
  .btn-transparent-sm:hover, .btn-transparent-sm.active, .btn-transparent-sm:focus {
    background-color: transparent;
    color: #2F7AC9;
    text-decoration: underline;
    box-shadow: none; }

/* button */
/* Login */
.wrapper-login {
  min-height: 100%;
  align-items: center;
  width: 100%;
  display: flex;
  -webkit-flex: flex; }
  .wrapper-login .container .center-align {
    justify-content: center; }
  .wrapper-login .container .logo {
    margin-bottom: 30px; }
    .wrapper-login .container .logo img {
      max-width: 250px; }
  .wrapper-login .container .sg-btn {
    margin: 0 0 30px 0; }
    .wrapper-login .container .sg-btn + a {
      display: block;
      margin: 0 0 10px 0; }
  .wrapper-login .container .input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px; }
  .wrapper-login .container .label-text {
    font-size: 16px !important;
    margin-top: 15px; }
  .wrapper-login .container .pass-form {
    margin-bottom: 50px; }

.r-email {
  margin: 40px auto !important; }
  .r-email input {
    text-align: center; }

.top-head {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: center; }
  .top-head .logo {
    cursor: pointer; }

.wrapper-inner {
  align-items: baseline;
  min-height: 100%;
  width: 100%;
  display: flex;
  -webkit-flex: flex; }

.adress-email input {
  max-width: 470px;
  text-align: center; }

.payment-box h5 {
  text-align: left; }

.payment-item .payment-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
  height: 40px; }
  .payment-item .payment-list .input-field {
    width: 100px;
    text-align: left;
    margin: 0; }

.verify-box .verify-item {
  text-align: left; }

.verify-box .content-verify {
  padding-left: 38px; }

.payment-listLeft .input-formControl {
  position: absolute;
  right: -320px;
  width: 100%;
  top: 4px;
  color: #2F7AC9; }
  .payment-listLeft .input-formControl .input-slect {
    color: #2F7AC9; }

.option-list {
  position: absolute;
  width: 100%;
  z-index: 9;
  background: #2F7AC9;
  color: #fff;
  text-align: left;
  padding: 7px; }
  .option-list .option-item {
    cursor: pointer;
    overflow: hidden; }

.upload-list {
  display: flex;
  justify-content: space-between; }
  .upload-list .dropzone {
    height: 245px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    cursor: pointer; }
    .upload-list .dropzone i.material-icons {
      color: #2F7AC9; }
    .upload-list .dropzone .loader-1 {
      position: absolute; }
    .upload-list .dropzone .pdf-contant {
      padding: 10px;
      font-size: 10px; }
    .upload-list .dropzone .dropzone-center {
      display: flex;
      flex-direction: column; }
      .upload-list .dropzone .dropzone-center .i-text {
        color: #2F7AC9;
        font-size: 14px; }
  @media (max-width: 960px) {
    .upload-list .dropzone {
      height: 150px;
      width: 100px; } }

.upload-list.full-dropzone .dropzone {
  width: 100%; }

.upload-list.full-small .dropzone {
  height: 200px;
  width: 150px; }

@media (max-width: 960px) {
  .upload-list.full-small .dropzone {
    height: 150px;
    width: 100px; } }

.upload-list.dropzone-left {
  justify-content: left; }
  .upload-list.dropzone-left .dropzone {
    margin-right: 15px; }

.upload-list.dropzone-center {
  justify-content: center; }
  .upload-list.dropzone-center .dropzone {
    margin: 15px; }

.btn-bottom {
  margin-top: 30px !important; }

option {
  background: #2F7AC9;
  color: #ffffff;
  padding: 30px; }

.currency-field .currency-input p {
  font-size: 18px !important;
  color: #2F7AC9; }

.currency-field .currency-input input[type=text]:not(.browser-default) {
  border: none;
  font-size: 18px !important;
  height: 2.2rem !important;
  margin: 0;
  text-align: left;
  color: #2F7AC9; }

.currency-field .currency-input input[type=text]:not(.browser-default):focus:not([readonly]) {
  border: none;
  box-shadow: 0 0 0 0 #26a69a; }

.select-popup {
  background: #2F7AC9;
  color: #ffffff; }
  .select-popup li {
    height: 14px;
    color: #ffffff;
    padding: 8px 10px; }

.upload-demo {
  height: 200px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
  margin-right: 15px; }
  .upload-demo i.material-icons {
    color: #000;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 999;
    background: #ccc;
    border-radius: 50%;
    padding: 2px; }
  @media (max-width: 960px) {
    .upload-demo {
      height: 150px;
      width: 100px; } }
  .upload-demo img {
    max-width: 100% !important;
    max-height: 100% !important; }

.wrapper-renter {
  padding: 15px; }
  .wrapper-renter .renter-top-detail {
    display: flex;
    justify-content: space-around;
    color: #2F7AC9; }
  .wrapper-renter .renter-dropzone .top-identification {
    color: #2F7AC9;
    font-size: 18px; }
  .wrapper-renter .renter-dropzone .btm-discription {
    color: #2F7AC9;
    font-size: 10px; }

.identification-list .upload-demo {
  height: 245px;
  width: 200px; }
  @media (max-width: 960px) {
    .identification-list .upload-demo {
      height: 150px;
      width: 100px; } }
  .identification-list .upload-demo img {
    width: 100% !important;
    height: 100% !important; }

.renter-input-box {
  padding: 20px;
  border: 1px dashed #2F7AC9;
  border-radius: 4px; }
  .renter-input-box.date-pic {
    margin: 0;
    border: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
    width: 100%; }
    .renter-input-box.date-pic .MuiInput-formControl-128:before {
      display: none; }
  .renter-input-box:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3); }
  .renter-input-box input {
    max-width: 100%; }

.wrapper-forget-pswd {
  min-height: 100%;
  width: 100%;
  display: flex; }
  .wrapper-forget-pswd .top-heading {
    margin: -30px;
    margin-bottom: 60px; }
  .wrapper-forget-pswd .center-align {
    justify-content: center; }
  .wrapper-forget-pswd .forget-pswd .profile-detail {
    margin-bottom: 30px;
    line-height: 15px;
    color: #2F7AC9; }

.wrapper-lease {
  padding: 15px; }
  .wrapper-lease .lease-top {
    margin-top: -60px; }
  .wrapper-lease .lease-payment-list li {
    display: flex;
    justify-content: space-between;
    color: #2F7AC9; }
  .wrapper-lease .profile-detail {
    color: #2F7AC9; }
  .wrapper-lease .lease-dropzone .dropzone {
    margin: 0; }
  .wrapper-lease .lease-dropzone .upload-box {
    margin: 15px;
    max-width: 150px; }
    .wrapper-lease .lease-dropzone .upload-box p {
      font-size: 12px;
      color: #2F7AC9;
      margin: 0;
      text-align: left; }

button.plaid-btn {
  background: transparent !important;
  box-shadow: none !important;
  border: 0  !important;
  display: flex;
  align-items: center;
  padding: 0 !important;
  color: #fff; }

.MySelect-selectEmpty-180 button.plaid-btn {
  color: #2F7AC9 !important;
  font-size: 18px; }

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999; }

.primary-check {
  color: #2F7AC9; }

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #B3FDFF;
  background-color: #B3FDFF;
  z-index: 0; }

[type="checkbox"].filled-in:checked + span:not(.lever):before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #2F7AC9;
  border-bottom: 2px solid #2F7AC9;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

[type="checkbox"].filled-in:disabled:checked + span:not(.lever):after {
  background-color: transparent;
  border-color: #949494;
  border: 1px dotted #2F7AC9; }

[type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever):after {
  background-color: transparent;
  border-color: #949494;
  border: 1px dotted #2F7AC9; }

.full-image {
  height: 245px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .full-image img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px;
    height: 100%; }
  .full-image i.material-icons {
    color: #797979;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 999;
    background: #EDEDED;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer; }
    .full-image i.material-icons:hover {
      color: #2F7AC9;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.8); }

.waves-effect-outer {
  margin-top: 30px;
  text-align: center; }

@media (max-width: 960px) {
  .dropzone-contact {
    width: 100% !important; } }

.payment-slect-input {
  margin-top: 62px; }
  @media (max-width: 960px) {
    .payment-slect-input {
      margin-top: 0px; } }

.lease-tab-btn {
  display: flex;
  justify-content: center; }
  .lease-tab-btn .btn {
    margin-left: 5px; }

.lease-top {
  margin-top: -60px; }

.lease-document label .label-text {
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  margin-top: 15px;
  padding-left: 25px; }

.qus-list {
  margin-top: 15px;
  color: #2F7AC9; }
  .qus-list .mini-btn {
    margin-right: 10px;
    min-width: 69px;
    border-radius: 5px;
    background: #fff;
    box-shadow: none;
    border-color: transparent;
    height: 24px; }
    .qus-list .mini-btn.active {
      background: #B3FDFF;
      color: #2F7AC9; }

.dialog-bg {
  background-color: #EDEDED;
  text-align: center; }
  .dialog-bg .MuiBackdrop-root-213 {
    background: transparent; }
  .dialog-bg .dilog-input {
    min-width: 400px;
    min-height: 350px;
    display: flex;
    align-items: center; }
  .dialog-bg div:nth-child(2) > div {
    box-shadow: none;
    border-radius: 0;
    background: #2F7AC9;
    color: #fff; }
  .dialog-bg .MuiPaper-rounded {
    border-radius: 0; }

.dialog-bg > div {
  background: transparent; }

.dialog-inner {
  color: #fff;
  width: 500px;
  padding: 0px 100px;
  overflow: hidden; }
  .dialog-inner h5 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 15px; }
  .dialog-inner p {
    font-size: 12px; }
  .dialog-inner .select-input {
    color: #fff;
    border-bottom: 2px solid #fff; }
  .dialog-inner input[type="number"]::-webkit-outer-spin-button, .dialog-inner input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none !important; }
  .dialog-inner path {
    fill: #fff; }
  .dialog-inner .MySelect-selectEmpty-182:before {
    border-bottom: 2px solid #fff !important; }
  .dialog-inner .kvRWSP {
    border-bottom: 1px solid #fff !important;
    font-size: 16px !important;
    box-shadow: 0 1px 0 0 #fff !important;
    max-width: 300px;
    height: 2.2rem !important;
    color: #fff; }
  .dialog-inner .MySelect-selectEmpty-182 {
    color: #fff;
    font-size: 18px; }
  .dialog-inner .input-field ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff; }
  .dialog-inner .input-field ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff; }
  .dialog-inner .input-field :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff; }
  .dialog-inner .input-field :-moz-placeholder {
    /* Firefox 18- */
    color: #fff; }
  .dialog-inner .mini-btn {
    margin-right: 10px;
    min-width: 69px;
    border-radius: 5px;
    background: transparent;
    box-shadow: none;
    border-color: transparent;
    height: 24px;
    color: #fff;
    text-transform: capitalize; }
    .dialog-inner .mini-btn:hover {
      text-decoration: underline; }

.MuiDialogContent-root-272 {
  display: flex;
  align-items: center; }

.renter-top-detail {
  display: flex;
  justify-content: space-evenly;
  color: #2F7AC9; }

.hello1 {
  font-size: 16px !important; }

.top-identificatquestionion {
  font-size: 18px;
  color: #2F7AC9; }

.profile-box {
  display: flex;
  width: 30%;
  align-items: center;
  margin: auto; }
  .profile-box .profil-info {
    text-align: left;
    margin-left: 10px;
    line-height: 20px; }
  .profile-box .bigAvatar {
    height: 60px;
    width: 60px; }
    .profile-box .bigAvatar img {
      background: #999; }

.input-field.date-input input {
  color: #fff;
  border-bottom: 2px solid #fff; }

.input-field.date-input input:not([type]):focus:not([readonly]) {
  color: #fff !important;
  border-bottom: 2px solid #fff; }

ul.counting {
  padding-left: 30px;
  list-style-type: decimal; }
  ul.counting li {
    list-style-type: decimal; }

.top-title {
  font-size: 22px;
  text-align: center; }

.top-sub-title {
  font-size: 18px;
  text-align: center; }

ol.counting {
  counter-reset: item; }
  ol.counting li {
    display: block;
    position: relative;
    margin-top: 15px; }
  ol.counting li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    font-weight: bold;
    color: #2F7AC9;
    position: absolute;
    left: -52px;
    width: 50px;
    text-align: right; }

.pl-10 {
  padding: 10px; }

.listing-table th {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background: #b3fdff;
  color: #2F7AC9; }

.listing-table-full {
  border: 1px solid #e0e0e0; }

.fquestionull-dropzone .dropzone {
  width: 100%; }

.date-pic {
  margin: 0;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  width: 100%; }

.date-pic div:before {
  display: none; }

.date-pic div:before {
  display: none; }

.MuiInput-underline-131:after {
  border-bottom: 0px !important; }

.MuiInputLabel-shrink-116 {
  display: none; }

.select-unfocused:focus {
  background: transparent !important; }

.select-input {
  font-size: 16px; }

.text-underline {
  cursor: pointer;
  text-decoration: underline; }

.custom-checkbox [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  top: 10px !important; }

.custom-checkbox [type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 10px; }

.custom-checkbox [type="checkbox"].filled-in:checked + span:not(.lever):before {
  top: 10px; }

.select-outer {
  max-width: 300px;
  margin: auto; }

.mb-20 {
  margin-bottom: 20px; }

.currency-field .currency-input {
  width: 100%; }
  .currency-field .currency-input :before {
    border-bottom: 2px solid #2F7AC9; }

.currency-field .MuiInput-underline-131:hover:not(.MuiInput-disabled-130):not(.MuiInput-focused-129):not(.MuiInput-error-132):before {
  border-bottom: 2px solid #2F7AC9 !important; }

.currency-field ::placeholder {
  color: #2F7AC9 !important;
  opacity: 1 !important;
  font-size: 16px; }

.currency-field ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #2F7AC9 !important;
  opacity: 1 !important;
  font-size: 16px; }

.currency-field ::-moz-placeholder {
  /* Firefox 19+ */
  color: #2F7AC9 !important;
  opacity: 1 !important;
  font-size: 16px; }

.currency-field :-ms-input-placeholder {
  /* IE 10+ */
  color: #2F7AC9 !important;
  opacity: 1 !important;
  font-size: 16px; }

.date-pic input[type=text]:not(.browser-default) {
  color: #2f7ac9 !important;
  font-size: 16px;
  border-bottom: 2px solid #2F7AC9 !important; }

.date-pic > label {
  color: red !important;
  color: #2f7ac9 !important;
  font-size: 16px; }

.currency-input:before {
  border-bottom: 2px solid #2F7AC9 !important; }

.input-place input[type=text]:not(.browser-default) {
  color: #2f7ac9 !important;
  font-size: 16px;
  border-bottom: 2px solid #2F7AC9 !important; }

.input-place ::placeholder {
  color: #2F7AC9 !important;
  opacity: 1 !important;
  font-size: 16px; }

.input-place ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #2F7AC9 !important;
  opacity: 1 !important;
  font-size: 16px; }

.input-place ::-moz-placeholder {
  /* Firefox 19+ */
  color: #2F7AC9 !important;
  opacity: 1 !important;
  font-size: 16px; }

.input-place :-ms-input-placeholder {
  /* IE 10+ */
  color: #2F7AC9 !important;
  opacity: 1 !important;
  font-size: 16px; }

.renter-input-box .input-field input {
  color: #2F7AC9; }
