/* Colors */
$primary-color: #2F7AC9;
$secondary-color: #B3FDFF;
$grey-color: #EDEDED;
$dark-grey-color:#797979;
$white-color: #ffffff;


// font-size
$font-larger: 18px;
$font-regular: 14px;
$font-small: 12px;
$font-smaller: 10px;

/* Mixins */

/* Margin Mixin */
@mixin margin($values...) {
    @each $var in $values {
        margin: #{$var};
    }
}


@mixin lg {
  @media (max-width: 1920px) { @content; }
}
@mixin md {
  @media (max-width: 1280px) { @content; }
}
@mixin sm {
  @media (max-width: 960px) { @content; }
}
@mixin xs {
  @media (max-width: 600px) { @content; }
}




/* Margin Mixin */
.color-key-1{
  color: $primary-color
}
/* Fotns */
$primary-font:'Varela Round', sans-serif;
$secondary-font:  'Varela', sans-serif;

/* Global */
html,body,.wrapper,.login-wrapper,#root{
	height:100%;
}
body{
    font-family: $primary-font;
    background: $grey-color;
}
input{
	font-family: $primary-font;
}
a{
	color: $primary-color;
	font-size: 14px;

}
.wrapper{
	display:flex;
	-webkit-display:flex;
	align-items: flex-start;
}

.wrapper-full {
    display: flex;
    flex-direction: column;
	width: 100%;
	height: 100%;
}
.error{
	color:red;
	font-size: $font-smaller;
	line-height: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
}
/* Global */

/* Headings */
h1,h2,h3,h4,h5,h6{
	font-family: $primary-font;
	color: $primary-color;
}
h1{
	font-size: 30px;
}

.pt-0{
	padding-top: 0px !important;
}
.pb-0{
	padding-bottom: 0px !important;
}


[type="checkbox"].filled-in.round+span:not(.lever):after {
    border-radius: 50%;
}
/* button */
.btn{
	border-radius:50px;
	min-width:300px;ul:not(.browser-default) {
    padding-left: 30px;
    list-style-type: decimal;
}
	min-height:50px;
	font-size:20px;
	padding-top:6px;
	padding-bottom:6px;
	background-color: $secondary-color;
	color:$primary-color;
	box-shadow:none;
	text-transform:capitalize;
	font-family: $primary-font;
  max-width: 100%;
	&:hover,&.active,&:focus{
		background-color:$secondary-color;
		color: $primary-color;
	}
	&.disabled,&:disabled{
		background-color: $dark-grey-color !important;
		color: $white-color !important;
	}
}
.btn-small{
  min-width: 0;
}
.btn-transparent{
  background: transparent;
  &:hover,&.active,&:focus{
		background-color:$secondary-color;
		color: $primary-color;
  }
}
.btn-transparent-sm{
  background: transparent;
  min-height:30px;
  &:hover,&.active,&:focus{
		background-color:transparent;
		color: $primary-color;
    text-decoration: underline;
    box-shadow: none;
  }
}
/* button */

/* Login */
.wrapper-login{
	min-height:100%;
    align-items:center;
    width: 100%;
    display: flex;
	-webkit-flex: flex;
	.container{
		.center-align{
			justify-content:center;
		}
		.logo{
			margin-bottom:30px;
			img{
				max-width:250px;
			}
		}
		.sg-btn{
			@include margin(0 0 30px 0);
			& + a{
				display: block;
				@include margin(0 0 10px 0);
			}
		}
		.input-field {
			position: relative;
			margin-top: 0;
			margin-bottom: 10px;
		}
		.label-text {
			font-size: 16px !important;
			margin-top: 15px;
		}
		.pass-form {
			margin-bottom: 50px;
		}
	}
}

.r-email {
	margin: 40px auto !important;
	input{
		text-align: center ;
	}
}


.top-head {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    align-items: center;

		.logo{
     cursor: pointer;
		}
}
// ----------------------------- Create an Application css start ------------------------------------
.wrapper-inner {
	align-items: baseline;
	min-height:100%;
    width: 100%;
    display: flex;
	-webkit-flex: flex;
}
.adress-email{
	input{
		max-width: 470px;
		text-align: center;
	  }
}
.payment-box{
	h5 {
		text-align: left;
	}
}

.payment-item{
    .payment-list{
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: flex-end;
        height: 40px;
		.input-field{
		  width: 100px;
		  text-align: left;
		  margin: 0;
		}
	}
}
.verify-box{
	.verify-item{
		text-align: left;
	}
	.content-verify {
		padding-left: 38px;
	}
}
.payment-listLeft .input-formControl {
    position: absolute;
    right: -320px;
    width: 100%;
	top: 4px;
	color: $primary-color;
	.input-slect{
        color: $primary-color;
	}
}
.option-list {
    position: absolute;
    width: 100%;
    z-index: 9;
	background: $primary-color;
	color: #fff;
	text-align: left;
	padding: 7px;
	.option-item{
		cursor: pointer;
		overflow: hidden;
	}
}

.upload-list {
	display: flex;
	justify-content: space-between;
	.dropzone {
		height: 245px;
		width: 200px;
		border: 1px solid #ccc;
		border-radius: 6px;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-around;
		cursor: pointer;
		i.material-icons {
			color: $primary-color;
		}
		.loader-1{
			position: absolute
		}
		.pdf-contant{
			padding: 10px;
			font-size: 10px;
		}
		.dropzone-center {
			display: flex;
			flex-direction: column;
			.i-text{
				color: $primary-color;
				font-size: $font-regular;
			}
		}
	}
  @include sm{
    .dropzone {
  		height: 150px;
  		width: 100px;
  	}
  }
}
.upload-list.full-dropzone{
	.dropzone {
		width: 100%;
	}
}
.upload-list.full-small{
	.dropzone {
		height: 200px;
		width: 150px;
	}
  @include sm{
    .dropzone {
  		height: 150px;
  		width: 100px;
  	}
  }
}
.upload-list.dropzone-left{
	justify-content: left;
	.dropzone {
		margin-right: 15px
	}
}
.upload-list.dropzone-center{
	justify-content: center;
	.dropzone {
		margin: 15px
	}
}
.btn-bottom {
    margin-top: 30px !important;
}
option {
    background: $primary-color;
	color: $white-color;
	padding: 30px ;
}
.currency-field{
	.currency-input{
		p{
		  font-size: 18px !important;
		  color: $primary-color;
		}
		input[type=text]:not(.browser-default){
			border: none;
			font-size: 18px !important;
			height: 2.2rem !important;
			margin: 0;
			text-align: left;
			color: $primary-color;
		}
		input[type=text]:not(.browser-default):focus:not([readonly]){
			border: none;
			box-shadow: 0 0 0 0 #26a69a;
		}
	}
}
.select-popup {
	background: $primary-color;
	color: $white-color;
	li{
		height: $font-regular;
		color: #ffffff;
		padding: 8px 10px;
	}
}
.upload-demo{
	height: 200px;
	width: 150px;
	border: 1px solid #ccc;
	border-radius: 6px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	cursor: pointer;
	position: relative;
  margin-right:15px;
	i.material-icons {
		color: #000;
		position: absolute;
		bottom: 5px;
		right: 5px;
		z-index: 999;
		background: #ccc;
		border-radius: 50%;
		padding: 2px;

	}
  @include sm{
    height: 150px;
  	width: 100px;
  }
  img{
    max-width: 100% !important;
    max-height: 100% !important;
  }
}

.wrapper-renter {
	padding: 15px;
	.renter-top-detail {
		display: flex;
		justify-content: space-around;
		color: $primary-color;
	}
	.renter-dropzone{
		.top-identification{
			color: $primary-color;
			font-size: $font-larger
		}
		.btm-discription{
			color: $primary-color;
			font-size: $font-smaller;
		}
	}
}
.identification-list{
  .upload-demo {
    height: 245px;
    width: 200px;
    @include sm{
      height: 150px;
      width: 100px;
    }
    img{
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.renter-input-box {
	padding: 20px;
	border: 1px dashed $primary-color;
	border-radius: 4px;
	&.date-pic{
		margin: 0;
    border: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
		width: 100%;
		.MuiInput-formControl-128{
			&:before{display: none;}
		}
	}
	&:hover{
		border: 1px solid #ccc;
		box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.30);
	}
	input{
		max-width: 100%;
	}
}

.wrapper-forget-pswd{
    min-height: 100%;
    width: 100%;
	display: flex;
	.top-heading{
		margin: -30px;
		margin-bottom: 60px;
	}
	.center-align{
		justify-content: center;
	}
    .forget-pswd{
		.profile-detail{
			margin-bottom: 30px;
			line-height: 15px;
			color: $primary-color;
		}
	}
}



.wrapper-lease {
	padding: 15px;
	.lease-top {
		margin-top: -60px;
	}
	.lease-payment-list{
		li {
			display: flex;
			justify-content: space-between;
			color: $primary-color;
		}
	}
	.profile-detail{
		color: $primary-color;
	}
	.lease-dropzone{
		.dropzone {
			margin: 0;
		}
		.upload-box{
			margin: 15px;
			max-width: 150px;
			p{
				font-size: $font-small;
				color: $primary-color;
				margin: 0;
				text-align: left;
			}
		}
	}
}
button.plaid-btn{
	background: transparent !important;
    box-shadow: none !important;
    border: 0  !important;
    display: flex;
	align-items: center ;
	padding: 0 !important;
	color: #fff;
}

.MySelect-selectEmpty-180 button.plaid-btn {
    color: #2F7AC9 !important;
    font-size: 18px;
}

.loading{
	position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;
}

.primary-check{
	color: $primary-color;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid $secondary-color;
    background-color: $secondary-color;
    z-index: 0;
}
[type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type="checkbox"].filled-in:disabled:checked+span:not(.lever):after {
    background-color: transparent;
    border-color: #949494;
    border: 1px dotted $primary-color;
}
[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever):after {
  background-color: transparent;
  border-color: #949494;
  border: 1px dotted $primary-color;
}
.full-image {
	height: 245px;
	position: relative;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
	img {
		width: auto;
		max-height: 100%;
		max-width: 100%;
		border-radius: 8px;
		height: 100%;
	}
	i.material-icons {
    color: #797979;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 999;
    background: #EDEDED;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    &:hover{
      color: $primary-color;
      box-shadow: 0 0 11px rgba(33,33,33,.8);
    }
	}
}
.waves-effect-outer{
  margin-top: 30px;
  text-align: center;
}


.dropzone-contact{
  @include sm{
    width: 100% !important;
  }
}
.payment-slect-input {
    margin-top: 62px;
    @include sm{
    margin-top: 0px;
    }
}

.lease-tab-btn {
    display: flex;
    justify-content: center;
    .btn{
      margin-left: 5px;
    }
}
.lease-top {
    margin-top: -60px;
}
.lease-document{
  label{
    .label-text{
      text-align: left;
      font-size: 12px;
      line-height: 16px;
      margin-top: 15px;
      padding-left: 25px;
    }
  }
}

.qus-list {
	margin-top: 15px;
	color: $primary-color;
	.mini-btn{
		margin-right: 10px;
		min-width: 69px;
		border-radius: 5px;
		background: #fff;
		box-shadow: none;
		border-color: transparent;
		height: 24px;
		&.active{
			background: $secondary-color;
			color: $primary-color;
		}

	}
}


.dialog-bg{
  background-color: #EDEDED;
  text-align: center;
  .MuiBackdrop-root-213{
       background: transparent;
  }
  .dilog-input {
    min-width: 400px;
		min-height: 350px;
		display: flex;
    align-items: center;
  }

  div:nth-child(2) > div {
    box-shadow: none;
    border-radius: 0;
    background: $primary-color;
    color: #fff;
  }
  .MuiPaper-rounded{
    border-radius: 0;
  }
  div:nth-child(2) > div > div {

  }
}
.dialog-bg > div {
	background: transparent;
}
.dialog-inner {
    color: #fff;
    width: 500px;
    padding:  0px 100px;
    overflow: hidden;
    h5{
      color: #fff;
      margin-top: 0;
      margin-bottom: 15px;
    }
    p{
      font-size: $font-small;
		}
		.select-input{
			color: #fff;
			border-bottom: 2px solid #fff;
		}
		input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
				-webkit-appearance: none;
				display: none !important;
		}
    path{
      fill: #fff;
    }
    .MySelect-selectEmpty-182:before {
       border-bottom: 2px solid #fff !important;
    }
    .kvRWSP {
    border-bottom: 1px solid #fff !important;
    font-size: 16px !important;
    box-shadow: 0 1px 0 0 #fff !important;
    max-width: 300px;
    height: 2.2rem !important;
    color: #fff;
   }
   .MySelect-selectEmpty-182 {
      color: #fff;
      font-size: 18px;
   }

   .input-field {
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #fff;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #fff;
      }
   }
   .mini-btn{
 		margin-right: 10px;
 		min-width: 69px;
 		border-radius: 5px;
 		background: transparent;
 		box-shadow: none;
 		border-color: transparent;
 		height: 24px;
    color: #fff;
    text-transform: capitalize;
 		&:hover{
      text-decoration: underline;
    }
 	}
}
.MuiDialogContent-root-272 {
    display: flex;
    align-items: center;
}
.renter-top-detail {
	display: flex;
	justify-content: space-evenly;
	color: $primary-color;
}

.hello1 {
	font-size: 16px !important;
}
.top-identificatquestionion {
	font-size: $font-larger;
	color: $primary-color;
}
.profile-box {
	display: flex;
	width: 30%;
	align-items: center;
	margin: auto;
	.profil-info{
		text-align: left;
		margin-left: 10px;
    line-height: 20px;
	}
	.bigAvatar{
		height: 60px;
		width: 60px;
		img{
			background: #999;
		}
	}
}
.input-field.date-input{
	input{
		color: #fff;
		border-bottom: 2px solid #fff;
	}
	input:not([type]):focus:not([readonly]){
		color: #fff !important;
		border-bottom: 2px solid #fff;
	}
}

// .top-head {
//   z-index: 99999999999;
//   position: fixed;
//   width: 100%;
// }
// ----------------------md, medium: 960px
@media only screen and (max-width: 960px) {

}
// ----------------------sm, small: 600px
@media only screen and (max-width: 600px) {

}
ul.counting {
	padding-left: 30px;
	list-style-type: decimal;
	li {
    list-style-type: decimal;
  }
}
.top-title{
	font-size: 22px;
	text-align: center;
}
.top-sub-title {
	font-size: 18px;
	text-align: center;
}

ol.counting  {
	counter-reset: item;
	li {
		display: block;
		position: relative;
    margin-top: 15px;
	}
	li:before {
		content: counters(item, ".") " ";
		counter-increment: item;
		font-weight: bold;
		color: $primary-color;
    position: absolute;
    left: -52px;
    width: 50px;
    text-align: right;

	}
}

.pl-10{
  padding: 10px;
}
.listing-table{
  th{
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background: #b3fdff;
    color: $primary-color
  }
}
.listing-table-full {
    border: 1px solid rgba(224, 224, 224, 1);
}

.fquestionull-dropzone {
	.dropzone {
		width: 100%;
	}
}

.date-pic {
	margin: 0;
	border: 0;
	display: inline-flex;
	padding: 0;
	position: relative;
	min-width: 0;
	flex-direction: column;
	vertical-align: top;
	width: 100%;
}
.date-pic div:before {
display: none;
}
.date-pic div:before {
	display: none;
	}

	.MuiInput-underline-131:after{
		border-bottom: 0px !important;
	}
	.MuiInputLabel-shrink-116 {
    display: none;
}
.select-unfocused:focus {
	background: transparent !important;
}
.select-input{
	font-size: 16px;
}
.text-underline {
	cursor: pointer;
	text-decoration: underline;
}
.custom-checkbox{
	[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
		top: 10px !important;
	}
	[type="checkbox"].filled-in:checked + span:not(.lever):after {
		top: 10px;
	}
	[type="checkbox"].filled-in:checked + span:not(.lever):before {
		top: 10px;
	}
}

.select-outer{
	max-width: 300px;
	margin: auto;
}
.mb-20 {
	margin-bottom: 20px;
}
.currency-field{
  .currency-input{
    width: 100%;
    :before {
      border-bottom: 2px solid #2F7AC9;
    }
  }

  .MuiInput-underline-131:hover:not(.MuiInput-disabled-130):not(.MuiInput-focused-129):not(.MuiInput-error-132):before {
    border-bottom: 2px solid #2F7AC9 !important;
  }

  ::placeholder {
    color: #2F7AC9 !important;
    opacity: 1 !important;
    font-size: 16px;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #2F7AC9 !important;
    opacity: 1 !important;
    font-size: 16px;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #2F7AC9 !important;
    opacity: 1 !important;
    font-size: 16px;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #2F7AC9 !important;
    opacity: 1 !important;
    font-size: 16px;
  }
}

.date-pic{
  input[type=text]:not(.browser-default){
    color: #2f7ac9 !important;
    font-size: 16px;
    border-bottom: 2px solid #2F7AC9 !important;
  }
}
.date-pic > label{
  color: red !important;
  color: #2f7ac9 !important;
  font-size: 16px;
}
.currency-input:before {
  border-bottom: 2px solid #2F7AC9 !important;
}
.input-place{
  input[type=text]:not(.browser-default){
    color: #2f7ac9 !important;
    font-size: 16px;
    border-bottom: 2px solid #2F7AC9 !important;
  }
  ::placeholder {
    color: #2F7AC9 !important;
    opacity: 1 !important;
    font-size: 16px;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #2F7AC9 !important;
    opacity: 1 !important;
    font-size: 16px;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #2F7AC9 !important;
    opacity: 1 !important;
    font-size: 16px;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #2F7AC9 !important;
    opacity: 1 !important;
    font-size: 16px;
  }
}
.renter-input-box{
  .input-field{
    input{
      color: #2F7AC9;
    }
  }
}